# Entornos virtuales
.venv/
env/
venv/
streamlit_env/

# Archivos compilados
__pycache__/
*.py[cod]

# Archivos de configuración personales
*.env
.secrets.toml
.streamlit/secrets.toml


# Archivos temporales y caché
*.log
*.tmp
*.parquet
*.pyc

# Archivos de Jupyter
.ipynb_checkpoints/
*.ipynb

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivo con credenciales para Jupyter
core/connection_notebook.py

# Archivos csv
*.csv