# Entornos virtuales
.venv/
env/
venv/
streamlit_env/

# Archivos compilados
__pycache__/
*.py[cod]

# Archivos de configuración personales
*.env
.secrets.toml
.streamlit/secrets.toml

# Archivos temporales
*.log
*.tmp

# Archivos de Jupyter
.ipynb_checkpoints/
*.ipynb

# Archivos del sistema
.DS_Store
Thumbs.db
